th {
}

/*row*/
tr {

}

/*div[id='section'] {*/
	/*position:relative;*/

	 /*[>margin-left:auto;<]*/
	 /*[>margin-right:auto;<]*/
/*}*/

div.insideTable {
	float:left;	
	border:1px solid black; 
	/*height: 20%;*/
	/*width: 20%;*/
	overflow: hidden;
}


div.insideTable {
	float:left;	
	border:1px solid black; 
	/*height: 20%;*/
	/*width: 20%;*/
	overflow: hidden;
}


table {
	float:left;	
	margin:auto;
	border:2px solid black; 
}


table[id='gameTable']  td.closedDoors {
	border: 5px solid red;
	/*border-color: red;*/
	/*border-style: solid;*/
}


table[id='gameTable'] td.openedDoors {
	border: 5px solid green;
	/*border-color: red;*/
	/*border-style: solid;*/
}

table[id='gameTable']  td {
	border:3px solid black; 
	width: 50px;
	height: 50px;
}



table[id='boardTable']  td {
	border:1px solid black; 
}


td.boardColorCell {
	width: 20%;	
}
