th {
}

/*row*/
tr {

}

/*div[id='section'] {*/
	/*position:relative;*/

	 /*[>margin-left:auto;<]*/
	 /*[>margin-right:auto;<]*/
/*}*/

div.insideTable {
	float:left;	
	border:1px solid black; 
	overflow: hidden;
	border-spacing:1px;
}



table {
	float:left;	
	margin:auto;
	border:2px solid black; 
}


table[id='gameTable']  td.closedDoors {
	border: 5px solid red;
}


table[id='gameTable'] td.openedDoors {
	border: 5px solid green;
}

table[id='gameTable']  td {
	/*border:1px solid black; */
	border: none;
	width: 50px;
	height: 50px;
}



table[id='boardTable']  td {
	border:1px solid black; 
}


td.boardColorCell {
	width: 20%;	
}
